* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.flip {
  margin: 50px;
}
.flip ul {
  width: 240px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  border: solid 2px #ccc;
  border-radius: 10px;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}
.flip ul li {
  border-radius: 10px;
  width: 50px;
  height: 50px;
  margin: 5px;
}
.flip ul li button {
  border: solid 2px #999;
  line-height: 44px;
  width: 50px;
  height: 50px;
  background: white;
  font-size: 25px;
  font-weight: bold;
  border-radius: 10px;
}
.flip ul li.empty {
  background-color: #ccc;
}
.btns {
  padding: 5rem;
  border-radius: 2rem;
}
